.container {
    height: 92vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.btn {
    border: none;
    color: white;
    width: 10vh;
    height: 5vh;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5vh;
}

.grid-container {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 30px;
    height: 30px;
    display: flex;
}

.btn-stop {
    background-color: #a72e2e;
}

.btn-stop:hover {
    background-color: #751504;
}

.btn-cont {
    background-color: #4CAF50;
}

.btn-cont:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

.btn-restart {
    background-color: #292828;
    display: none;
}

.btn-restart:hover {
    background-color: #474343;
}