<div class="container">
    <div class="grid-container">
        <div *ngFor="let row of grid; let i = index" class="grid-row">
            <div *ngFor="let cell of row; let j = index" class="grid-cell" [ngStyle]="getCellColor(cell)"></div>
        </div>
    </div>
    <h3>Score</h3>
    <h3>{{score}}</h3>
    <button (click)="togglePause()" [style.display]="pauseButtonDisplay" [innerText]="buttonText"  [class]="buttonClass"></button>
    <button (click)="restart()" [style.display]="restartButtonDisplay" class="btn btn-restart">Restart</button>
</div>
