
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide text-dark">
        <div class="carousel-indicators">
            <button type="button" [attr.data-bs-target]="'#carouselExampleIndicators'" [attr.data-bs-slide-to]="i"
                [class.active]="i === 0" *ngFor="let product of products; let i = index"></button>
        </div>
        <div class="carousel-inner">

            <div class="carousel-item" *ngFor="let product of products; let i = index" [class.active]="i === 0">
                <app-home-card [product]="product"></app-home-card>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>






