.carousel{
    min-height: 500px;
    min-width: 500px;
}

.container {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators{
    filter: invert(100%);
}