<img class="row dash" src="assets/images/match-dash.png" (click)="toggle(0)" [style.opacity]="getOpacity(0)">
<div class="c-row">
    <img class="column" src="assets/images/match.png" (click)="toggle(1)" [style.opacity]="getOpacity(1)">
    <div class="empty"></div>
    <img class="column" src="assets/images/match.png" (click)="toggle(2)" [style.opacity]="getOpacity(2)">
</div>
<img class="row dash" src="assets/images/match-dash.png" (click)="toggle(3)" [style.opacity]="getOpacity(3)">
<div class="c-row">
    <img class="column" src="assets/images/match.png" (click)="toggle(4)" [style.opacity]="getOpacity(4)">
    <div class="empty"></div>
    <img class="column" src="assets/images/match.png" (click)="toggle(5)" [style.opacity]="getOpacity(5)">
</div>
<img class="row dash" src="assets/images/match-dash.png" (click)="toggle(6)" [style.opacity]="getOpacity(6)">